@(dates: play.api.libs.json.JsValue, percentages: play.api.libs.json.JsValue)( implicit request: RequestHeader )

<!DOCTYPE html>
<html lang="en">
<body>
<div id="chart">

<p>Here's a visualization of the volatility in the BTC-USD prices per month for the past 12 months</p>

<script>

window.onload = function() {
    var percentagesJS = JSON.parse("@percentages");
    var datesJS = JSON.parse("@dates").map(item => {
        return new Date(item)
    });
    var options = {
        chart: {
            type: 'bar',
            height: 450,
            width: 700
        },
        plotOptions: {
            bar: {
                dataLabels: {
                    position: 'top', // top, center, bottom
                },
            }
        },
        dataLabels: {
            enabled: true,
            formatter: function (val) {
                return val + "%";
            },
            offsetY: -20,
            style: {
                fontSize: '12px',
                colors: ["#304758"]
            }
        },
        series: [{
            name: 'Stock BTC',
            data: percentagesJS

        }],
        xaxis: {
                type: 'string'
            },
      labels: datesJS,
        title: {
            text: 'BTC-USD Volatility Graph',
            align: 'left'
        },
        subtitle: {
            text: 'Price Movements',
            align: 'left'
        },
        yaxis: {
            opposite: false
        },
        legend: {
            horizontalAlign: 'left'
        }
    }

    var chart = new ApexCharts(document.querySelector("#chart"), options);

    chart.render();
};
  </script>

</div>

<p>
    <a href="@routes.HomeController.index">Click here for the Home Page</a>
</p>

</body>

<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

<style>
        body {
  font-family: Roboto, sans-serif;
}

#chart {
  max-height: 650px;
  max-width: 650px;
  margin: 35px auto;
}


    </style>
</html>